body {
    background-color: #ffffff;
    font-family: helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    border-bottom: 2px solid #000;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
}

.listtile {
    text-align: left;
    margin-top: 20px;
}


.retan {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 1.2rem;
}


.quadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px;
    border-radius: 6px;
    margin: 10px auto;
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.4;
}

footer {
    padding: 20px;
    margin: 20px;
    border-top: 2px solid black;
}